# Python
__pycache__/
*.py[cod]
*.sqlite3
!db.sqlite3
env/
venv/
.venv/
.env

# VS Code
.vscode/

# Node
node_modules/

# Mac
.DS_Store

# Build / Artifacts
/dist/
/build/
/media/
/release/
/familytree_front/dist/
/familytree_front/build/
/familytree_front/release/
